<!DOCTYPE html>
<html lang="{{ app.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="robots" content="all">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>{{ app.name|safe }} | {% block title %}Index{% endblock %}</title>
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
